<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | CloudConnect</title>
    

    <link rel="shorcut icon" type="image/x-icon" href="../images/fevion.png">

    
    <script src="https://kit.fontawesome.com/22406f9d4d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/user.css"> 
    <link rel="stylesheet" type="text/css" href="/css/user-home.css"> 
    <link rel="stylesheet" type="text/css" href="/css/user-live-updates.css"> 
    <link rel="stylesheet" type="text/css" href="/css/showAboutUs.css"> 
</head>
<body>
    <div class="header-for-user-profile">
        <a id="Web-logo" href="/users/home-page">
            <i class="fad fa-moon-cloud fa-4x" id="cloud-connect-logo" aria-hidden="true"></i>
            <p id="cloud-connect-name">Cloud Connect.</p>
        </a>
        <p>
            <a href="/users/home-page">
                CloudConnect
            </a>
        </p>
        <div>
            <a href="/users/sign-out" >
                <button class="sign-out-button">
                    <i class="fas fa-sign-out"></i> &nbsp; Sign-Out 
                </button>
            </a>
            <a href="/users/home-page" >
                <button class="goto-home-button">
                    <i class="fas fa-home"></i>&nbsp; Home 
                </button>
            </a>
        </div>
    </div>

    <%- include("asideSection")-%>

    <div class="about-section">

        <div class="about-description">
            This project is a multipurpose website. It is 
            a web-based system to allow users to see live
            statistics of confirmed, active, recovered, and deceased
            people from Covid. The user can select any state of India
            and compare covid cases by region. The user can also
            see the nearest vaccination center available by entering the
            respective pin code. In addition to this, they can also 
            view current news related to medical and covid. Upon clicking the 
            link, the user gets redirected to the full article. This website
            also has a global tracker which helps the user to view and 
            compare covid cases of any country. The users can 
            also have the advantage of social media with this
            website as they can create posts and comment on other posts.
            The user can add pictures to their post as well as delete other
            people’s comments on their post. The user gets a message on their
            email whenever any user comments on their post. The user requires 
            a password to enter the website which is unique to everyone. 
            This website provides a very user-friendly interface for every user. 
            Thus, the users will find it easier to work on it.
        </div>
        
            
        </div>

    </div>
</body>
</html>